@{ 
    Veiculo veiculo = ViewBag.Veiculo;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterar Veículo</title>
</head>
<body>
    <form asp-action="Alterar" asp-controller="Veiculo" method="post">
        <fieldset>
            <legend>Alterar veículo</legend>
            <label for="txtId">#Id:</label>
            <input value="@veiculo.Id" name="txtId" readonly type="text" /><br />

            <label for="txtMarca">Marca:</label>
            <input value="@veiculo.Marca" name="txtMarca" type="text" placeholder="Marca do Veículo" /><br />
            <label for="txtModelo">Modelo:</label>
            <input value="@veiculo.Modelo" name="txtModelo" type="text" placeholder="Modelo do Veículo" /><br />
            <label for="txtPlaca">Placa:</label>
            <input value="@veiculo.Placa" name="txtPlaca" type="text" placeholder="Placa do Veículo" /><br />
            <label for="txtRenavan">Renavan:</label>
            <input value="@veiculo.Renavan" name="txtRenavan" type="text" placeholder="Renavan do Veículo" /><br />
            <label for="txtCor">Cor:</label>
            <input value="@veiculo.Cor" name="txtCor" type="text" placeholder="Cor do Veículo" /><br />
            <label for="txtAno">Ano:</label>
            <input value="@veiculo.Ano" name="txtAno" type="text" placeholder="Ano do Veículo" /><br />
            <label for="txtTipoCombustivel">Tipo Combustivel:</label>
            <input value="@veiculo.TipoCombustivel" name="txtTipoCombustivel" type="text" placeholder="Combustivel do Veículo" /><br />
            <label for="txtTipoCategoria">Categoria Veiculo:</label>
            <input value="@veiculo.TipoCategoria" name="txtTipoCategoria" type="text" placeholder="Categoria do Veículo" /><br />
            <label for="txtQntdPortas">Quantidade Portas:</label>
            <input value="@veiculo.QntdPortas" name="txtQntdPortas" type="text" placeholder="Qntd. portas do Veículo" /><br />
            <label for="txtPotencia">Potência:</label>
            <input value="@veiculo.Potencia" name="txtPotencia" type="text" placeholder="Potência do Veículo" /><br />

            <input type="submit" value="Salvar" />
        </fieldset>
    </form>
</body>
</html>
