@model IEnumerable<LocadoraWeb.Models.Categoria>

@{
    ViewData["Title"] = "Lista Categoria";
}

<h1 class="espacamento-baixo">Categoria</h1>

<p>
    <a asp-action="Cadastrar" class="btn btn-info">Criar Novo</a>
</p>
<table class="table table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor Diaria</th>
            <th>Criado Em</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Categoria categoriaCadastrado in Model)
        {
            <tr>
                <td>@categoriaCadastrado.Id</td>
                <td>@categoriaCadastrado.Nome</td>
                <td>@categoriaCadastrado.Descricao</td>
                <td>@categoriaCadastrado.valorDiaria</td>
                <td>@categoriaCadastrado.CriadoEm</td>
                <td>
                    <a asp-action="Remover" asp-controller="Categoria" class="btn btn-danger btn-sm"
                       asp-route-id="@categoriaCadastrado.Id">
                        Remover
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
