@model IEnumerable<LocadoraWeb.Models.UsuarioView>

@{
    ViewData["Title"] = "Lista Usuários";
}

<h1>Lista de Usuários</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.Cpf)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Nome)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(moduleItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(moduleItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
        </tr>
}
    </tbody>
</table>
